[Unit]
Description=Validate LUKS2 devices
DefaultDependencies=false

FailureAction=poweroff-immediate

Wants=cryptsetup.target
After=cryptsetup.target
Before=initrd-root-device.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/measure-pcr-validator
Environment=TERM=linux
ExecStopPost=/bin/sh -c "/usr/bin/plymouth quit 2>/dev/null || :"
StandardOutput=tty
StandardInput=tty
SuccessExitStatus=STDIN

[Install]
# If we use RequiredBy we trigger its OnFailure=emergency.target
WantedBy=initrd-root-device.target
