[Unit]
Description=Validate LUKS2 devices
DefaultDependencies=false

FailureAction=poweroff-immediate

Wants=cryptsetup.target
After=cryptsetup.target
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/measure-pcr-validator
Environment=TERM=linux
ExecStopPost=/bin/sh -c "/usr/bin/plymouth quit 2>/dev/null || :"
StandardOutput=tty
StandardInput=tty

[Install]
# If we use RequiredBy we trigger the debug shell
WantedBy=local-fs.target